@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

$milo-color: #96cb63;

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

body {
  background: #2d3039;
  font-family: 'Ubuntu', sans-serif;
  div.view {
    h1 {
      color: white;
    }
    aside {
      float: left;
      width: 250px;
      background: #3b4148;
      margin: -20px 0;
      margin-right: 20px;
      height: 1000px;
      ul {
        padding: 0;
        li {
          list-style: none;
          padding: 5px;
          ul {
            padding-left: 10px;
          }
          background: #343940;
          &.active {
            background: none;
            li {
              background: none;
            }
            a {

            }
          }
          a {
            text-decoration: none;
            color: #f1f1f1;
            width: 100%;
            padding: 5px;
            &:hover {
            }
          }
        }
      }
    }
    #main {
    }
    .login {
      width: 250px;
      padding: 10px;
      height: 250px;
      margin: 0 auto;
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      input[type="text"],
      input[type="password"] {
        background: #3b4148;
        border: none;
        color: white;
        width: 240px;
        padding: 10px;
      }
      button {
        background: #343940;
        border: none;
        color: white;
        width: 100%;
        width: 120px;
        float: right;
        padding: 10px;
        margin-right: -10px;
      }
      a {
        color: #bbc0c2;
        text-decoration: none;
        padding: 10px;
        float: left;
      }
      img {
        margin-top: 50px;
      }
    }
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bbc0c2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bbc0c2;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bbc0c2;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bbc0c2;
}