<%- include partials/header.html %>

  <div class="view">
    <div class="dashboard">
      <aside>
        <ul>
          <li class="active">
            <a href="#">SE - Home</a>
            <ul>
              <li><a href="#">Bo &amp; Göra</a></li>
              <li><a href="#">Erbjudanden</a></li>
              <li><a href="#">Inspiration &amp; Tips</a></li>
              <li><a href="#">Medlem</a></li>
              <li><a href="#">Om oss</a></li>
              <li><a href="#">Fråga &amp; svar</a></li>
            </ul>
          </li>
          <li><a href="#">DE - Home</a></li>
          <li><a href="#">EN - Home</a></li>
        </ul>
      </aside>
      <div id="main">
        <h1>Milo</h1>
      </div>
    </div>
  </div>

<%- include partials/footer.html %>