<%- include partials/header.html %>
<header>
  <div class="left">
    <nav>
      <ul>
        <li><a href="#">Milo</a></li>
        <li><a href="#">Visit SOS Barnbyar</a></li>
      </ul>
    </nav>
  </div>
  <div class="right">
    <nav>
      <ul class="menu">
        <li><a href="#">Edit mode</a></li>
        <li><a href="#">Admin mode</a></li>
      </ul>
      <ul class="pull-right">
        <li><a href="#">Hello, Isotop</a></li>
        <li><a href="#">X</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <aside>
    <ul class="tabs">
      <li><a href="#">Actions</a></li>
      <li><a href="#">Site tree</a></li>
    </ul>
    <nav>
      <ul>
        <li class="active">
          <a href="#">Startsidan</a>
          <ul>
            <li><a href="#">Bo &amp; Göra</a></li>
            <li><a href="#">Erbjudanden</a></li>
            <li><a href="#">Inspiration &amp; Tips</a></li>
            <li><a href="#">Medlem</a></li>
            <li><a href="#">Om oss</a></li>
            <li>
              <a href="#">Fråga &amp; svar</a>
              <ul>
                <li><a href="#">Bo &amp; Göra</a></li>
                <li><a href="#">Erbjudanden</a></li>
                <li><a href="#">Inspiration &amp; Tips</a></li>
                <li><a href="#">Medlem</a></li>
                <li><a href="#">Om oss</a></li>
                <li>
                  <a href="#">Fråga &amp; svar</a>
                </li>
              </ul>
            </li>
          </ul>
      </li>
    </nav>
  </aside>
</main>
<!--
  <div class="view">
    <div class="dashboard">
      <aside>
        <ul>
          <li class="active">
            <a href="#">Startsidan</a>
            <ul>
              <li><a href="#">Bo &amp; Göra</a></li>
              <li><a href="#">Erbjudanden</a></li>
              <li><a href="#">Inspiration &amp; Tips</a></li>
              <li><a href="#">Medlem</a></li>
              <li><a href="#">Om oss</a></li>
              <li><a href="#">Fråga &amp; svar</a></li>
            </ul>
          </li>
        </ul>
      </aside>
      <div id="main">
        <h1>Milo</h1>
      </div>
    </div>
  </div>
-->
<%- include partials/footer.html %>