<%- include partials/header.html %>
<div class="view">
  <div class="login">
    <h1>Milo</h1>
    <p>
    </p>
      <p>
        <input type="text" name="username" id="username" placeholder="email" />
      </p>
      <p>
        <input type="password" name="password" id="password" placeholder="password" />
      </p>
      <p>
        <a href="#">Lost password?</a>
        <button>Sign in</button>
      </p>
      <p>
        <img src="/img/milo-120.png" width="50" height="50" />
      </p>
  </div>
</div>
<%- include partials/footer.html %>