<%- include partials/header.html %>
<div class="view">
  <div class="login-2">
    <h1>M<span>ilo</span></h1>
    <div class="form">
      <p>
        <input type="text" name="username" id="username" placeholder="email" />
      </p>
      <p>
        <input type="password" name="password" id="password" placeholder="password" />
      </p>
      <p>
        <div class="rember">
          <input type="checkbox"> Rember me?
        </div>
        <button class="l">Sign in</button>
      </p>
      <p>
        <a href="#">Lost password?</a>
      </p>
    </div>
    <!--<p><img src="https://1.gravatar.com/avatar/d3f4b60ef280812c946c88f892a91613?d=https%3A%2F%2Fidenticons.github.com%2F5105babe7e1d9056791e39b0e06efcbe.png&s=100" /></p>-->

      <!--<p>
        <img src="/img/milo-120.png" width="50" height="50" />
      </p>-->
  </div>
</div>
<%- include partials/footer.html %>